* {box-sizing: border-box}

/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ddd;
  color: white;
  background: black;
}
input[type=email]:focus, input[type=password]:focus {
  background-color: white;
  color: black;
  outline: none;
}

hr {
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.login-btn, .signup-btn {
  padding: 14px 20px;
}
.container-btn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
  border:1px solid white;
}

// .login, .signup-btn {
//   float: left;
//   border:1px solid white;
//   width: 50%;
// }
.login-btn, .signup-btn {
  border: 1px solid #ddd;
  width: 20%;
}

html{
  background: url(../images/background.jpg);
}

.container {
  padding: 16px;
  color: white;
  max-width: 70rem;
  margin: 0 auto;
}

.heads {
  margin-top: 7rem;
  background: url(../images/home-bg.png);
  background-size: 100%;
  background-position: top;
  position: relative;
}
.heads .container .error {
  font-size: larger;
  text-decoration-color: red;
  text-align: center;
}

.forgot-pass {
  float: right;
  padding-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  
}

.to-signup-btn, .to-login-btn {
  color: black;
  background-color: white;
  margin-left: 2%;
}

@media screen and (max-width: 30px) {
  .login-btn, .login, .signup-btn {
    
    width: 100%;
  }
  .cancel-btn {
    width: 100%;
  }
}
