
<div class="main-content">     
    <main>
        <div class="recent-flex">
            <div class="project">
                <div class="card">
                    <div class="card-header ">
                        <h3>All Orders</h3>
                        <button> See All <span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%"> 
                                <thead> 
                                    <tr>    
                                        <td> Customer </td>
                                        <td> Product </td>
                                        <td> Price </td>
                                        <td> Status </td>
                                    </tr>
                                </thead>
                                <tbody>
                                   {{#each orders}}
                                    <tr>
                                        <td>{{this.email}}</td>
                                        <td style="white-space: pre-line;">
                                            {{#each products}}                                   
                                                {{this.product_id}}                                         
                                            {{/each}}
                                        </td>
                                        <td>    
                                            {{this.price}}$
                                        </td>
                                        <td>
                                            {{#if this.status}}
                                                Complete
                                            {{else}}
                                                Not Complete
                                            {{/if}}
                                            
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </main>
</div>