<div class="main-content">
   <main>
      
      <div class="recent-flex">
         <div class="project">
            <form action="/profile/change-password?_method=PUT" method="POST">
                <label for="old_password"> Old password </label>
                <input id="old_password" name="old_password" type="password" class="box psw" required>
                
                <label for="new_password"> New password </label>
                <input id="new_password" name="new_password" type="password" class="box psw" required>

                <input type="checkbox" onclick="showPass()">Show password
                
                <button type="submit" class="btn">Change</button>
            </form>
         </div>
      </div>
   </main>
</div>

<script>
    function showPass() {
    var x = document.getElementById("old_password");
    var y = document.getElementById("new_password");
    if (x.type == "password" && y.type == "password") {
        x.type = "text";
        y.type = "text";
    } else {
        x.type = "password";
        y.type = "password";
    }
  }
</script>
