
<div class="main-content">
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Customers</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>117</h1>
                    <span>Orders</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Contact Customers</span>
                </div>
                <div>
                    <span  class="lar la-envelope"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>$14</h1>
                    <span>Income</span>
                </div>
                <div>
                    <span class="las la-wallet"></span>
                </div>
            </div>
            
        </div>

        <div class="recent-flex">
            <div class="project">
                <div class="card">
                    <div class="card-header ">
                        <h3>Recent Orders</h3>
                        <button> See All <span class="las la-arrow-right"></span></button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%"> 
                                <thead> 
                                    <tr>    
                                        <td>Orders </td>
                                        <td>Name  </td>
                                        <td>Price </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Somethings</td>
                                        <td>Somethings</td>
                                        <td>    
                                            <span class="las la-dollar-sign"></span>
                                            17
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="card-header ">
                        <h3>New Customers </h3>
                        <button> See All <span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="customers"> 
                            <div class="info">
                                <img src="images/customer.jpg",width ="40px"
                                height="40px" alt="">
                                <div>
                                    <h4>Bean </h4>
                                    <small> New Customers</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>

                            </div>
                        </div>

                       
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </main>
</div>