
<div class="main-content">
    <h1>Sign Up</h1>
    <form method="POST" action="/signup" >
        <label for="username"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" id="username" name="username" class="box" required>
        <p class="error email-error"></p>

        <label for="new-password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id ="new-password"  name="password" class="box psw" required>
        <p>Length between 6-24 characters; at least one uppercase letter</p>
        <p class="error password-error"></p>

        <input type="checkbox" onclick="showPass()">Show password

        <p class="error">{{error}}</p>
        <button type="submit" class="btn">Sign Up</button>
        <div class="nav-btns">
            <button type="button" class="btn" onclick="location.href='/'">Cancel</button>
            <button type="button" class="btn" onclick="location.href='/login'">Log In?</button> 
        </div>
    </form>
</div>

<script>
  const form = document.querySelector('form');
  const email = document.querySelector('#username');
  const password = document.querySelector('#new-password');
  const emailError = document.querySelector('.email-error');
  const passwordError = document.querySelector('.password-error');

  form.onsubmit = function(e) {
    e.preventDefault();
    var emailValue = email.value;
    var passwordValue = password.value;
    const email_regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    const pass_regex = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*(\S)\1)(?!.*è).{6,24}$");
    var err = false;

    if (emailValue === '') {
      emailError.innerHTML = 'Email is required';
      err = true;
    }
    else if (!email_regex.test(emailValue)) {
      emailError.innerHTML = 'Email is invalid';
      err = true;
    }
    else {
      emailError.innerHTML = '';
    }

    if (passwordValue === '') {
      passwordError.innerHTML = 'Password is required';
      err = true;
    }
    else if (!pass_regex.test(passwordValue)) {
      passwordError.innerHTML = 'Password is invalid';
      err = true;
    }
    else {
      passwordError.innerHTML = '';
    }

    if (!err) {
      form.submit();
    }
  }
</script>

<script>
  function showPass() {
    var x = document.getElementById("new-password");
    if (x.type == "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  };
</script>


